#back-btn {
    position: absolute;
    left: 20px;
    top: 55px;
}

#page-title {
    position: absolute;
    top: 50px;
    left: 69px;
}

.card-sets {
    /* display: inline-block; */
    width: 95%;
    margin: auto;
    text-align: left;

}

.card-sets h3{
    margin-left: 5px;
    margin-bottom: 5px;
    color: rgba(255, 255, 255, 0.75);
}

#card-sets-required {
    margin-top: 75px;    
}

#card-sets-optional{
    margin-top: 25px;
}

button {
    cursor: pointer;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 5px;
    /* width: 200px; */
    /* font-size: 100%; */


    background-color: #000000;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;

    transition: all 0.3s ease;
}

.selectedOption {
    border: 2px solid #00bfa5;
}

#continue-btn {
    cursor: pointer;
    padding: 10px 15px;
    margin: 10px;
    border-radius: 5px;
    width: 200px;
    font-size: 100%;
    background-color: #00bfa5;
    color: #FFFFFF;
    border: none;

    position: absolute;
    right: 20px;
    bottom: 20px;
    /* display: none; */
}

input {
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #000000;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    margin-top: 5px;
}

.input-error {
    border: 2px solid #F44336;
}

.game-login {
    position: absolute;
    top: 45%;
    left: 30%;
    font-weight: bold;
    font-size: 100%;
}

.code-container {
    margin: 0px 15px;
    display: inline-block;
}

#name-container {
    position: absolute;
    left: 20px;
    bottom: 35px;
}

#game-code {
    display: block;
    padding: 10px 15px;
    border-radius: 7.5px;
    background-color: #000000;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    letter-spacing: 15px;
    font-size: 250%;
    margin-top: 5px;
}

.game-code-container {
    height: 20vh;
}

.left-stuff {
    position: absolute;
    top: 8.5%;
    left: 30px;
    width: 42%;
    height: 70vh;

}

#people-joined {
    height: 50vh;
    padding: 20px 20px;
    border-radius: 5px;
    background-color: #212121;

    position: relative;
}

#people-list-container {
    position: absolute;
    bottom: 10%;
}

.person-joined {
    color: #00bfa5;
}

.rules {
    position: absolute;
    top: 8.5%;
    right: 30px;
    width: 47%;
    height: 70vh;
    padding: 20px 20px;
    border-radius: 5px;
    background-color: #212121;
}

.rules p {
    color: rgba(255, 255, 255, 0.75);
    margin: 20px 10px 0px 5px;
}

#copy-btn {
    position: absolute;
    right: 5%;
    top: 11%;
    cursor: pointer;
}