* {
    margin: 0;
    padding: 0;
    color: #FFFFFF;
}

body {
    background-color: #000000;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    top: 0;
    width: 90%;
    height: 45px;
    -webkit-app-region: drag;
    /* background-color: blue; */
}

.text-white {
    color: #FFFFFF;
}

.text-black {
    color: #000000;
}

.text-bold {
    font-weight: bold;
}


.text-center {
    text-align: center;
}

#close-btn {
    position: absolute;
    right: 10px;
    top: 10px;
}

#min-btn {
    position: absolute;
    right: 50px;
    top: 10px;
}

#min-btn:hover {
    cursor: pointer;
}

#close-btn:hover {
    cursor: pointer;
}

.selectedOption {
    border: 2px solid #00bfa5;
}

#continue-btn {
    cursor: pointer;
    padding: 10px 15px;
    margin: 10px;
    border-radius: 5px;
    width: 200px;
    font-size: 100%;
    background-color: #00bfa5;
    color: #FFFFFF;
    border: none;

    position: absolute;
    right: 20px;
    bottom: 20px;
}